extends layout

block append head
  script(src="/socket.io/socket.io.js")
  script(src="board.js")

block content
  h1= title
  p Welcome to #{title}
  canvas(id="canvas", width="700", height="480")

