doctype 5
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
      script(src="mootools-core-1.4.5-full-nocompat.js")
  body
    block content
